.header {
  display: flex;
  justify-content: space-between;
}
.hiro_title h1 {
  font-weight: 600;
  color: white;
  font-size: 28px;
}
.hiro_title p {
  font-weight: 400;
  color: rgba(224, 230, 233, 1);
  font-size: 16px;
  padding-top: 6px;
}
.headSearch {
  width: 220px;
  position: relative;
}

.search {
  width: 100%;
  height: 48px;
  background-color: rgba(45, 48, 62, 1);
  border: 1px solid rgba(57, 60, 73, 1);
  border-radius: 12px;
  font-size: 14px;

  padding-left: 45px;
  color: #fff;
}

.headSearch img {
  position: absolute;
  top: 25%;
  left: 14px;
  pointer-events: none;
  width: 20px;
  height: 20px;
}

.categoryMenu {
  display: flex;
  gap: 32px;
  margin-top: 24px;
}
.categoryMenu button {
  border: none;
  font-size: 16px;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
  padding-bottom: 14px;
}
.categoryMenu button.active {
  color: rgba(234, 124, 105, 1);
  border-bottom: 3px solid rgba(234, 124, 105, 1);
  padding-bottom: 11px;
}

.heaDer span {
  display: block;
  height: 3px;
  background-color: rgba(57, 60, 73, 1);
}
