.sidebar {
  width: 104px;
  height: 100vh;

  background-color: #1f1d2b;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
}
.siteLogo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  border-radius: 8px;
  background-color: #543c3c;
}
.sideicon {
  width: 40px;
}
.sidebarMiddle {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  gap: 24px;
}
.iconSidebar {
  width: 56px;
  height: 56px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.iconSidebar img {
  width: 24px;
}
.iconSidebar.active {
  background: #ea7c69;
  box-shadow: 0px 8px 24px 0px rgba(234, 124, 105, 0.32);
  color: white;
}
.iconSidebar.active img {
  filter: brightness(0) invert(1);
}
